html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, sans-serif;
    font-weight:200;
}

header img {
    width:15%;
    margin: 10px;
}

header {
    
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;        
    background-color: #fefbf1;
    border-top: 1px solid #ffce47;
    width: 100%;;
    
}

#nav p {margin: 0; color: #004d4d;}

#bold {font-weight: bold;}

#container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
    text-align: center;

}

#container video {
    margin: 20px auto;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 10px gray;


}

hr {
    margin: 10px 0;
    border: 1px solid lightgray;
}
#container p {
    text-align: left !important;
    margin: 0;
}

aside h3{
    color:orange;
    margin: 0;
}

aside {
    text-align: left;
    margin: 30px 0px;
    border-left: 1px solid #ffce47;
    padding-left: 10px;
}

#description {
    color: gray;
}

main {
    text-align:left;
}

section ul li {
    line-height: 3;
}

footer {
    text-align: left;
    margin: 20px 0;
}